
*,*::before,*::after{box-sizing: border-box;}
body{
    font-family: "Indie Flower", cursive;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}
h1{
    font-size: xx-large;
    font-weight: 900;
}
p{
    margin: 1em;
    font-size: larger;
}
.container{
    background-color: grey;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    gap: 50px;
}
.postit{
    min-width: 300px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.308);
    padding: 20px;
    text-align: center;
    padding: 4em;
    
    transition: transform 200ms;
}
.yellow{
    background: rgb(139,140,155);
    background: linear-gradient(0deg, rgba(139,140,155,1) 0%, rgba(253,254,205,1) 35%, rgba(253,254,205,1) 100%);

    transform: rotate(-12deg);
}
.lila{
    background: rgb(139,140,155);
    background: linear-gradient(0deg, rgba(139,140,155,1) 0%, rgba(191,192,231,0.5830707282913166) 33%, rgba(191,192,231,1) 100%);
    transform: rotate(-5deg);
}
.green{
    background: rgb(139,140,155);
    background: linear-gradient(0deg, rgba(139,140,155,1) 0%, rgba(200,247,202,1) 35%, rgba(200,247,202,1) 100%);
    transform: rotate(10deg);
}
.postit:hover{
    transform: scale(1.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.644);
}
